@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

a {
    color: black !important;
}

.fade {
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}